body {
	font-family: Verdana;
}

input,select {
	display: block;
	margin-top: 0.2em;
	margin-bottom: 1em;
	font-size: 1.1em;
}

input[type='checkbox'],input[type='radio'] {
	display: inline;
}

.fout {
	color: red;
	font-weight: bold;
}

h1{
	color: red;
}